// bacground color
$primary: #F2F3F4;
$secondary: #01A699;


// Text color
$primary-text-color : #01A699 ;
$secondary-text-color : #474747 ;


// Border color 

$primary-border-color : #cccccc ;

// placeholder color

$primary-placeholder-color : #cccccc;

// Font families

$primary-font-family : "Poppins";


// button color 

$primary-btn-color : #FFFFFF;
