body {
  // font: 100% $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary;
  font-family: $primary-font-family;
}

.primaryBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  width: 164px;
  background: $secondary;
  box-shadow: 0px 2px 3px rgba(95, 95, 95, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  color: $primary-btn-color;
}

main {
  display: flex;
  width: 100%;
  max-width: 1420px;
  .left_header {
    width: 8%;
    background-color: $secondary;
    height: 100vh;
  }
  .left_header > div {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  .image {
    height: 3.5rem;
    width: 3.5rem;
  }

  .main_content {
    width: 92%;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    header {
      color: $secondary;
      border-bottom: 1px solid $primary-border-color;
      padding: 4.2rem 0 0 0;
      nav {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        div {
          padding: 0 2rem 1rem 2rem;
          border-bottom: 1px solid $secondary;
        }
        h3 {
          margin: 0;
          padding: 0;

          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase;
          color: $secondary;
        }
      }
    }
    .warehouseContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.6rem 0;
      border-bottom: 1px solid $primary-border-color;

      .warehouseAddress {
        width: 38%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .warehouseAddress > div {
        width: 33%;
      }

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: $secondary-text-color;
      }
      input {
        outline: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 11px 10px;
        width: 280px;
        background: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        margin-left: 1rem;
      }

      input::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $primary-placeholder-color;
      }

      .btnDiv {
        width: 62%;
        display: flex;
        justify-content: flex-end;
      }
    }

    .mapContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.6rem 0;
      border-bottom: 1px solid $primary-border-color;
      .fileUploadContainer {
        display: flex;
        justify-content: space-between;
        width: 38%;
        > div {
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: $secondary-text-color;
          }
        }

        .fileUploadDiv {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          input[type="file"] {
            display: none;
          }
          .customFileUpload {
            background: #ffffff;
            border: 1px solid #cccccc;
            box-shadow: 0px 1px 2px rgba(88, 88, 88, 0.1);
            border-radius: 4px;
            cursor: pointer;
            width: 280px;
            padding: 11px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 1rem;
          }
          label {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: $primary-placeholder-color;
          }

          .downloadfile {
            margin: 11px 0;
            padding: 0;
          }
          a {
            color: $primary-text-color;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            text-decoration-line: underline;
            text-align: right;
          }
        }
      }
    }
    .addressTable {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.6rem 0;
      border-bottom: 1px solid $primary-border-color;

      table {
        width: 100%;

        th {
          width: auto;
          text-align: start;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: $primary-font-family;
          opacity: 0.7;
          padding: 0;
          margin: 0;
        }

        tbody {
          padding: 6px 13px;
          background-color: #ffffff;
          border: none;
          outline: none;
        }
        td {
          text-align: start;
        }
      }
    }
  }
}
